-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: aov_tactics
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ban_pick_actions`
--

DROP TABLE IF EXISTS `ban_pick_actions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ban_pick_actions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `action_type` enum('BAN','PICK') COLLATE utf8mb4_unicode_ci NOT NULL,
  `confirmed_at` datetime(6) NOT NULL,
  `hero_id` bigint NOT NULL,
  `phase_index` int NOT NULL,
  `team_side` enum('BLUE','RED') COLLATE utf8mb4_unicode_ci NOT NULL,
  `room_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK5ik5q9oqwjrt6woti7headyq8` (`room_id`,`hero_id`),
  UNIQUE KEY `uk_ban_pick_actions_room_hero` (`room_id`,`hero_id`),
  KEY `idx_ban_pick_actions_room_phase` (`room_id`,`phase_index`),
  KEY `idx_ban_pick_actions_room_confirmed` (`room_id`,`confirmed_at`),
  KEY `FK569cj87avy8a63wof40gvj5m7` (`user_id`),
  CONSTRAINT `FK569cj87avy8a63wof40gvj5m7` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKgadlsm2ca4adh3yqqtmb6ody` FOREIGN KEY (`room_id`) REFERENCES `ban_pick_rooms` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3149 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ban_pick_actions`
--

LOCK TABLES `ban_pick_actions` WRITE;
/*!40000 ALTER TABLE `ban_pick_actions` DISABLE KEYS */;
/*!40000 ALTER TABLE `ban_pick_actions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ban_pick_room_participants`
--

DROP TABLE IF EXISTS `ban_pick_room_participants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ban_pick_room_participants` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `joined_at` datetime(6) NOT NULL,
  `role` enum('GUEST','HOST') COLLATE utf8mb4_unicode_ci NOT NULL,
  `team_side` enum('BLUE','RED') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `room_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK85mnw4ia4wcof976odk3spfr3` (`room_id`,`user_id`),
  UNIQUE KEY `uk_ban_pick_room_participants_room_user` (`room_id`,`user_id`),
  KEY `FKfs28fswj0blh0ma0o0h6gq8ne` (`user_id`),
  CONSTRAINT `FKfs28fswj0blh0ma0o0h6gq8ne` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKpr8v8h87xy4kn4uaw6fw2qs6j` FOREIGN KEY (`room_id`) REFERENCES `ban_pick_rooms` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=427 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ban_pick_room_participants`
--

LOCK TABLES `ban_pick_room_participants` WRITE;
/*!40000 ALTER TABLE `ban_pick_room_participants` DISABLE KEYS */;
/*!40000 ALTER TABLE `ban_pick_room_participants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ban_pick_rooms`
--

DROP TABLE IF EXISTS `ban_pick_rooms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ban_pick_rooms` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `current_phase_index` int NOT NULL,
  `current_phase_selected_count` int NOT NULL,
  `phase_duration_seconds` int NOT NULL,
  `room_code` varchar(16) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('CANCELLED','FINISHED','IN_PROGRESS','READY','WAITING') COLLATE utf8mb4_unicode_ci NOT NULL,
  `timer_started_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `version` bigint DEFAULT NULL,
  `blue_user_id` bigint DEFAULT NULL,
  `guest_user_id` bigint DEFAULT NULL,
  `host_user_id` bigint NOT NULL,
  `red_user_id` bigint DEFAULT NULL,
  `phase_deadline_at` datetime(6) DEFAULT NULL,
  `guest_ready` tinyint(1) NOT NULL DEFAULT '0',
  `host_ready` tinyint(1) NOT NULL DEFAULT '0',
  `blue_series_used_hero_ids` text COLLATE utf8mb4_unicode_ci,
  `blue_used_picks_by_game` text COLLATE utf8mb4_unicode_ci,
  `current_game_number` int NOT NULL,
  `red_series_used_hero_ids` text COLLATE utf8mb4_unicode_ci,
  `red_used_picks_by_game` text COLLATE utf8mb4_unicode_ci,
  `series_type` enum('BO1','BO3','BO5','BO7') COLLATE utf8mb4_unicode_ci NOT NULL,
  `blue_lineup_confirmed` tinyint(1) NOT NULL DEFAULT '0',
  `blue_pick_order` text COLLATE utf8mb4_unicode_ci,
  `lineup_deadline_at` datetime(6) DEFAULT NULL,
  `phase_type` enum('DRAFT','LINEUP_ADJUSTMENT') COLLATE utf8mb4_unicode_ci NOT NULL,
  `red_lineup_confirmed` tinyint(1) NOT NULL DEFAULT '0',
  `red_pick_order` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKt5sxrnyxnio5ywumo026bgr47` (`room_code`),
  KEY `FK83n5o6ywvs37jm848b4ibo752` (`blue_user_id`),
  KEY `FKacspnioypnri2p1jcnx8ovxpp` (`guest_user_id`),
  KEY `FKmkghl522urf99rxuthf2u85bl` (`host_user_id`),
  KEY `FK6uum2h9h90g33mct0muljoim4` (`red_user_id`),
  CONSTRAINT `FK6uum2h9h90g33mct0muljoim4` FOREIGN KEY (`red_user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FK83n5o6ywvs37jm848b4ibo752` FOREIGN KEY (`blue_user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKacspnioypnri2p1jcnx8ovxpp` FOREIGN KEY (`guest_user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKmkghl522urf99rxuthf2u85bl` FOREIGN KEY (`host_user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=284 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ban_pick_rooms`
--

LOCK TABLES `ban_pick_rooms` WRITE;
/*!40000 ALTER TABLE `ban_pick_rooms` DISABLE KEYS */;
/*!40000 ALTER TABLE `ban_pick_rooms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `draft_histories`
--

DROP TABLE IF EXISTS `draft_histories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `draft_histories` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `blue_bans` text COLLATE utf8mb4_unicode_ci,
  `blue_picks` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime(6) DEFAULT NULL,
  `red_bans` text COLLATE utf8mb4_unicode_ci,
  `red_picks` text COLLATE utf8mb4_unicode_ci,
  `result_recorded_at` datetime(6) DEFAULT NULL,
  `room_code` varchar(16) COLLATE utf8mb4_unicode_ci NOT NULL,
  `blue_user_id` bigint NOT NULL,
  `red_user_id` bigint NOT NULL,
  `winner_user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKjpct6e7qfmibhl3f1tgv80ef0` (`blue_user_id`),
  KEY `FKsjj306xdaqi59rc6u12i9h8sj` (`red_user_id`),
  KEY `FKdvgr6r7d2qum93d2u4eoavlg7` (`winner_user_id`),
  CONSTRAINT `FKdvgr6r7d2qum93d2u4eoavlg7` FOREIGN KEY (`winner_user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKjpct6e7qfmibhl3f1tgv80ef0` FOREIGN KEY (`blue_user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKsjj306xdaqi59rc6u12i9h8sj` FOREIGN KEY (`red_user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=189 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `draft_histories`
--

LOCK TABLES `draft_histories` WRITE;
/*!40000 ALTER TABLE `draft_histories` DISABLE KEYS */;
/*!40000 ALTER TABLE `draft_histories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `esports_draft_formats`
--

DROP TABLE IF EXISTS `esports_draft_formats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `esports_draft_formats` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `code` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `is_default` bit(1) NOT NULL,
  `name` varchar(160) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_steps` int NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_esports_draft_formats_code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `esports_draft_formats`
--

LOCK TABLES `esports_draft_formats` WRITE;
/*!40000 ALTER TABLE `esports_draft_formats` DISABLE KEYS */;
INSERT INTO `esports_draft_formats` VALUES (1,_binary '','AOV_STANDARD_18','2026-05-08 17:49:32.065852',_binary '','AOV Standard 18 Phase',18,NULL);
/*!40000 ALTER TABLE `esports_draft_formats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `esports_draft_phase_rules`
--

DROP TABLE IF EXISTS `esports_draft_phase_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `esports_draft_phase_rules` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `action_type` enum('BAN','PICK') COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `step_number` int NOT NULL,
  `team_side` enum('BLUE','RED') COLLATE utf8mb4_unicode_ci NOT NULL,
  `format_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_esports_draft_phase_rules_format_step_number` (`format_id`,`step_number`),
  KEY `idx_esports_draft_phase_rules_format_id` (`format_id`),
  CONSTRAINT `FKev3ad2caja777fwc9d93nt630` FOREIGN KEY (`format_id`) REFERENCES `esports_draft_formats` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `esports_draft_phase_rules`
--

LOCK TABLES `esports_draft_phase_rules` WRITE;
/*!40000 ALTER TABLE `esports_draft_phase_rules` DISABLE KEYS */;
/*!40000 ALTER TABLE `esports_draft_phase_rules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `esports_franchises`
--

DROP TABLE IF EXISTS `esports_franchises`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `esports_franchises` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `code` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `description` text COLLATE utf8mb4_unicode_ci,
  `display_order` int NOT NULL,
  `logo_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `region` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tier_level` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK6q49djiabw367fgbejd91eo5b` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `esports_franchises`
--

LOCK TABLES `esports_franchises` WRITE;
/*!40000 ALTER TABLE `esports_franchises` DISABLE KEYS */;
/*!40000 ALTER TABLE `esports_franchises` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `esports_game_drafts`
--

DROP TABLE IF EXISTS `esports_game_drafts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `esports_game_drafts` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `blue_adl_hero_id` bigint DEFAULT NULL,
  `blue_ban_1_hero_id` bigint DEFAULT NULL,
  `blue_ban_2_hero_id` bigint DEFAULT NULL,
  `blue_ban_3_hero_id` bigint DEFAULT NULL,
  `blue_ban_4_hero_id` bigint DEFAULT NULL,
  `blue_ban_5_hero_id` bigint DEFAULT NULL,
  `blue_dsl_hero_id` bigint DEFAULT NULL,
  `blue_jgl_hero_id` bigint DEFAULT NULL,
  `blue_mid_hero_id` bigint DEFAULT NULL,
  `blue_sup_hero_id` bigint DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `draft_format_code` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `duration_seconds` int DEFAULT NULL,
  `game_number` int NOT NULL,
  `raw_draft_json` longtext COLLATE utf8mb4_unicode_ci,
  `red_adl_hero_id` bigint DEFAULT NULL,
  `red_ban_1_hero_id` bigint DEFAULT NULL,
  `red_ban_2_hero_id` bigint DEFAULT NULL,
  `red_ban_3_hero_id` bigint DEFAULT NULL,
  `red_ban_4_hero_id` bigint DEFAULT NULL,
  `red_ban_5_hero_id` bigint DEFAULT NULL,
  `red_dsl_hero_id` bigint DEFAULT NULL,
  `red_jgl_hero_id` bigint DEFAULT NULL,
  `red_mid_hero_id` bigint DEFAULT NULL,
  `red_sup_hero_id` bigint DEFAULT NULL,
  `source` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `blue_team_id` bigint NOT NULL,
  `match_id` bigint NOT NULL,
  `red_team_id` bigint NOT NULL,
  `winner_team_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_esports_game_drafts_match_game` (`match_id`,`game_number`),
  KEY `idx_esports_game_drafts_match_id` (`match_id`),
  KEY `idx_esports_game_drafts_blue_team_id` (`blue_team_id`),
  KEY `idx_esports_game_drafts_red_team_id` (`red_team_id`),
  KEY `idx_esports_game_drafts_winner_team_id` (`winner_team_id`),
  CONSTRAINT `FK3taau5iwn86ufpk54j0bdj8ve` FOREIGN KEY (`match_id`) REFERENCES `esports_matches` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FKdtb2l1clomlni8agyn9trj5vw` FOREIGN KEY (`winner_team_id`) REFERENCES `esports_teams` (`id`),
  CONSTRAINT `FKmmtyfn4ebyf3k3wktigccgyyn` FOREIGN KEY (`blue_team_id`) REFERENCES `esports_teams` (`id`),
  CONSTRAINT `FKqb9coodjbr775r5es3bmeu52v` FOREIGN KEY (`red_team_id`) REFERENCES `esports_teams` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=787 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `esports_game_drafts`
--

LOCK TABLES `esports_game_drafts` WRITE;
/*!40000 ALTER TABLE `esports_game_drafts` DISABLE KEYS */;
/*!40000 ALTER TABLE `esports_game_drafts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `esports_matches`
--

DROP TABLE IF EXISTS `esports_matches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `esports_matches` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `match_date` datetime(6) NOT NULL,
  `score1` int NOT NULL,
  `score2` int NOT NULL,
  `stage` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `team1_code` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `team2_code` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tier` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tournament_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKcn53annyhfm479s8wbaqcb2nr` (`tournament_id`),
  CONSTRAINT `FKcn53annyhfm479s8wbaqcb2nr` FOREIGN KEY (`tournament_id`) REFERENCES `esports_tournaments` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1674 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `esports_matches`
--

LOCK TABLES `esports_matches` WRITE;
/*!40000 ALTER TABLE `esports_matches` DISABLE KEYS */;
/*!40000 ALTER TABLE `esports_matches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `esports_teams`
--

DROP TABLE IF EXISTS `esports_teams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `esports_teams` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `game_losses` int NOT NULL,
  `game_wins` int NOT NULL,
  `match_losses` int NOT NULL,
  `match_wins` int NOT NULL,
  `region` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `score` double NOT NULL,
  `team_code` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `team_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `logo_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK85du5getjkcehn6r0wn8885jo` (`team_code`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `esports_teams`
--

LOCK TABLES `esports_teams` WRITE;
/*!40000 ALTER TABLE `esports_teams` DISABLE KEYS */;
/*!40000 ALTER TABLE `esports_teams` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `esports_tournament_teams`
--

DROP TABLE IF EXISTS `esports_tournament_teams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `esports_tournament_teams` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `group_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `note` text COLLATE utf8mb4_unicode_ci,
  `seed_number` int DEFAULT NULL,
  `status` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `team_id` bigint NOT NULL,
  `tournament_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_tournament_team` (`tournament_id`,`team_id`),
  KEY `idx_esports_tournament_teams_tournament` (`tournament_id`),
  KEY `idx_esports_tournament_teams_team` (`team_id`),
  CONSTRAINT `FK4li2vewnibc5a87f8ukuleeym` FOREIGN KEY (`team_id`) REFERENCES `esports_teams` (`id`),
  CONSTRAINT `FKh43w5khrcf70bnbry8bhops54` FOREIGN KEY (`tournament_id`) REFERENCES `esports_tournaments` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `esports_tournament_teams`
--

LOCK TABLES `esports_tournament_teams` WRITE;
/*!40000 ALTER TABLE `esports_tournament_teams` DISABLE KEYS */;
/*!40000 ALTER TABLE `esports_tournament_teams` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `esports_tournaments`
--

DROP TABLE IF EXISTS `esports_tournaments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `esports_tournaments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `description` text COLLATE utf8mb4_unicode_ci,
  `end_date` date DEFAULT NULL,
  `logo_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `season_year` int DEFAULT NULL,
  `slug` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `split_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `status` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tier_level` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `franchise_id` bigint NOT NULL,
  `aer_tier` int NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKcvgfho1tafeglycmmaw49wmos` (`slug`),
  KEY `FKsts2te01elix07ahe7xxuibhc` (`franchise_id`),
  CONSTRAINT `FKsts2te01elix07ahe7xxuibhc` FOREIGN KEY (`franchise_id`) REFERENCES `esports_franchises` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `esports_tournaments`
--

LOCK TABLES `esports_tournaments` WRITE;
/*!40000 ALTER TABLE `esports_tournaments` DISABLE KEYS */;
/*!40000 ALTER TABLE `esports_tournaments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `guides`
--

DROP TABLE IF EXISTS `guides`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `guides` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `content_data` text COLLATE utf8mb4_unicode_ci,
  `cover_image_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `author_id` bigint DEFAULT NULL,
  `hero_id` bigint DEFAULT NULL,
  `category` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `excerpt` text COLLATE utf8mb4_unicode_ci,
  `lane` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `published_at` datetime(6) DEFAULT NULL,
  `reading_time_minutes` int NOT NULL,
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `view_count` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK5ige0qp5yjxi0g3whl65c5ew0` (`author_id`),
  KEY `idx_guides_hero_status_published` (`hero_id`,`status`,`published_at`),
  CONSTRAINT `FK5ige0qp5yjxi0g3whl65c5ew0` FOREIGN KEY (`author_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKn73hxrx4bafa7jb49upqy2j9g` FOREIGN KEY (`hero_id`) REFERENCES `heroes` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `guides`
--

LOCK TABLES `guides` WRITE;
/*!40000 ALTER TABLE `guides` DISABLE KEYS */;
/*!40000 ALTER TABLE `guides` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hero_attribute_mapping`
--

DROP TABLE IF EXISTS `hero_attribute_mapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hero_attribute_mapping` (
  `hero_id` bigint NOT NULL,
  `attribute_id` bigint NOT NULL,
  PRIMARY KEY (`hero_id`,`attribute_id`),
  KEY `fk_ham_attr` (`attribute_id`),
  CONSTRAINT `fk_ham_attr` FOREIGN KEY (`attribute_id`) REFERENCES `hero_attributes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_ham_hero` FOREIGN KEY (`hero_id`) REFERENCES `heroes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hero_attribute_mapping`
--

LOCK TABLES `hero_attribute_mapping` WRITE;
/*!40000 ALTER TABLE `hero_attribute_mapping` DISABLE KEYS */;
INSERT INTO `hero_attribute_mapping` VALUES (25,1),(1,2),(11,2),(15,2),(18,2),(33,2),(43,2),(44,2),(46,2),(54,2),(58,2),(63,2),(64,2),(74,2),(75,2),(77,2),(80,2),(84,2),(96,2),(97,2),(100,2),(104,2),(112,2),(117,2),(119,2),(124,2),(125,2),(120,3),(28,4),(13,5),(42,6),(69,6),(72,6),(82,6),(2,7),(3,7),(13,7),(17,7),(18,7),(23,7),(27,7),(30,7),(39,7),(41,7),(45,7),(46,7),(49,7),(52,7),(53,7),(76,7),(78,7),(90,7),(103,7),(105,7),(111,7),(114,7),(126,7);
/*!40000 ALTER TABLE `hero_attribute_mapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hero_attributes`
--

DROP TABLE IF EXISTS `hero_attributes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hero_attributes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `icon_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sort_order` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_hero_attributes_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hero_attributes`
--

LOCK TABLES `hero_attributes` WRITE;
/*!40000 ALTER TABLE `hero_attributes` DISABLE KEYS */;
/*!40000 ALTER TABLE `hero_attributes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hero_class_mapping`
--

DROP TABLE IF EXISTS `hero_class_mapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hero_class_mapping` (
  `hero_id` bigint NOT NULL,
  `class_id` bigint NOT NULL,
  PRIMARY KEY (`hero_id`,`class_id`),
  KEY `FKlv594btcta2wrk0j8p87jru26` (`class_id`),
  CONSTRAINT `FK28mbagxuwrajrton9hhy875sv` FOREIGN KEY (`hero_id`) REFERENCES `heroes` (`id`),
  CONSTRAINT `FKlv594btcta2wrk0j8p87jru26` FOREIGN KEY (`class_id`) REFERENCES `hero_classes` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hero_class_mapping`
--

LOCK TABLES `hero_class_mapping` WRITE;
/*!40000 ALTER TABLE `hero_class_mapping` DISABLE KEYS */;
/*!40000 ALTER TABLE `hero_class_mapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hero_classes`
--

DROP TABLE IF EXISTS `hero_classes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hero_classes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `display_name` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKcb3lctkh96xrceoydc01k6nwp` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hero_classes`
--

LOCK TABLES `hero_classes` WRITE;
/*!40000 ALTER TABLE `hero_classes` DISABLE KEYS */;
INSERT INTO `hero_classes` VALUES (1,'Đấu sĩ','Đấu sĩ'),(2,'Sát thủ','Sát thủ'),(3,'Pháp sư','Pháp sư'),(4,'Xạ thủ','Xạ thủ'),(5,'Đỡ đòn','Đỡ đòn'),(6,'Trợ thủ','Trợ thủ');
/*!40000 ALTER TABLE `hero_classes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hero_matchups`
--

DROP TABLE IF EXISTS `hero_matchups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hero_matchups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `hero_id` bigint NOT NULL,
  `target_hero_id` bigint NOT NULL,
  `matchup_type` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `difficulty` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_hero_matchup` (`hero_id`,`target_hero_id`,`matchup_type`),
  UNIQUE KEY `uk_hero_matchups_pair_type` (`hero_id`,`target_hero_id`,`matchup_type`),
  KEY `idx_hero_matchups_hero_type` (`hero_id`,`matchup_type`),
  KEY `idx_hero_matchups_target_hero_id` (`target_hero_id`),
  KEY `idx_hero_matchups_type` (`matchup_type`),
  CONSTRAINT `fk_matchup_hero` FOREIGN KEY (`hero_id`) REFERENCES `heroes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_matchup_target` FOREIGN KEY (`target_hero_id`) REFERENCES `heroes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hero_matchups`
--

LOCK TABLES `hero_matchups` WRITE;
/*!40000 ALTER TABLE `hero_matchups` DISABLE KEYS */;
/*!40000 ALTER TABLE `hero_matchups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hero_role_mapping`
--

DROP TABLE IF EXISTS `hero_role_mapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hero_role_mapping` (
  `hero_id` bigint NOT NULL,
  `role_id` bigint NOT NULL,
  PRIMARY KEY (`hero_id`,`role_id`),
  KEY `fk_hrm_role` (`role_id`),
  CONSTRAINT `fk_hrm_hero` FOREIGN KEY (`hero_id`) REFERENCES `heroes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_hrm_role` FOREIGN KEY (`role_id`) REFERENCES `hero_roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hero_role_mapping`
--

LOCK TABLES `hero_role_mapping` WRITE;
/*!40000 ALTER TABLE `hero_role_mapping` DISABLE KEYS */;
INSERT INTO `hero_role_mapping` VALUES (7,1),(24,1),(34,1),(62,1),(63,1),(65,1),(81,1),(84,1),(88,1),(98,1),(99,1),(101,1),(107,1),(115,1),(118,1),(127,1),(3,2),(9,2),(12,2),(14,2),(16,2),(21,2),(28,2),(29,2),(50,2),(56,2),(57,2),(60,2),(87,2),(91,2),(93,2),(106,2),(110,2),(116,2),(120,2),(124,2),(13,3),(20,3),(22,3),(103,3),(118,3),(47,4),(115,4),(18,5),(28,5),(35,5),(46,5),(51,5),(55,5),(79,5),(81,5),(86,5),(91,5),(98,5),(100,5),(109,5),(112,5),(121,5),(128,5);
/*!40000 ALTER TABLE `hero_role_mapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hero_roles`
--

DROP TABLE IF EXISTS `hero_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hero_roles` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_hero_roles_code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hero_roles`
--

LOCK TABLES `hero_roles` WRITE;
/*!40000 ALTER TABLE `hero_roles` DISABLE KEYS */;
INSERT INTO `hero_roles` VALUES (1,'DSL','Đường Tà Thần'),(2,'JGL','Đi Rừng'),(3,'MID','Đường Giữa'),(4,'ADL','Đường Rồng'),(5,'SUP','Trợ Thủ');
/*!40000 ALTER TABLE `hero_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hero_skills`
--

DROP TABLE IF EXISTS `hero_skills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hero_skills` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `hero_id` bigint NOT NULL,
  `name` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `skill_type` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `cooldown` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mana_cost` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `icon_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sort_order` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_hero_skill_type` (`hero_id`,`skill_type`),
  UNIQUE KEY `uk_hero_skill_order` (`hero_id`,`sort_order`),
  UNIQUE KEY `uk_hero_skills_hero_skill_type` (`hero_id`,`skill_type`),
  UNIQUE KEY `uk_hero_skills_hero_sort_order` (`hero_id`,`sort_order`),
  KEY `idx_hero_skills_skill_type` (`skill_type`),
  CONSTRAINT `fk_skill_hero` FOREIGN KEY (`hero_id`) REFERENCES `heroes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hero_skills`
--

LOCK TABLES `hero_skills` WRITE;
/*!40000 ALTER TABLE `hero_skills` DISABLE KEYS */;
/*!40000 ALTER TABLE `hero_skills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `heroes`
--

DROP TABLE IF EXISTS `heroes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `heroes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `slug` varchar(140) COLLATE utf8mb4_unicode_ci NOT NULL,
  `avatar_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `hero_class` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `title` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `difficulty` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lore` text COLLATE utf8mb4_unicode_ci,
  `portrait_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `banner_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `primary_role_id` bigint DEFAULT NULL,
  `ban_pick_score` decimal(5,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_heroes_slug` (`slug`),
  KEY `idx_heroes_name` (`name`),
  KEY `idx_heroes_primary_role_id` (`primary_role_id`),
  CONSTRAINT `FK9bmyboomsfivyngc3242mul6g` FOREIGN KEY (`primary_role_id`) REFERENCES `hero_roles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=129 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `heroes`
--

LOCK TABLES `heroes` WRITE;
/*!40000 ALTER TABLE `heroes` DISABLE KEYS */;
/*!40000 ALTER TABLE `heroes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `meta_tier_lists`
--

DROP TABLE IF EXISTS `meta_tier_lists`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `meta_tier_lists` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `content_data` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_by_email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_by_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK4q2woxk2y7krkvtx5p47byuil` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `meta_tier_lists`
--

LOCK TABLES `meta_tier_lists` WRITE;
/*!40000 ALTER TABLE `meta_tier_lists` DISABLE KEYS */;
/*!40000 ALTER TABLE `meta_tier_lists` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_stats`
--

DROP TABLE IF EXISTS `player_stats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_stats` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `losses` int NOT NULL,
  `picked_hero_counts` text COLLATE utf8mb4_unicode_ci,
  `rating` int NOT NULL,
  `total_matches` int NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `wins` int NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKl4k0hn0g5bpvo38ngc8yxguq9` (`user_id`),
  CONSTRAINT `FKpi3pv3v7814mv0fi8h1ojs70s` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=90 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_stats`
--

LOCK TABLES `player_stats` WRITE;
/*!40000 ALTER TABLE `player_stats` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_stats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tier_list_admin_ratings`
--

DROP TABLE IF EXISTS `tier_list_admin_ratings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tier_list_admin_ratings` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `note` text COLLATE utf8mb4_unicode_ci,
  `rating_value` double NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `admin_user_id` bigint NOT NULL,
  `tier_list_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKddtjv340onhh8ffaqc8g6ibn` (`tier_list_id`),
  KEY `idx_tier_list_admin_ratings_admin` (`admin_user_id`),
  CONSTRAINT `FKijx4mcr7w6xtp8xdo23g2rey7` FOREIGN KEY (`tier_list_id`) REFERENCES `tier_lists` (`id`),
  CONSTRAINT `FKng35u16i5v9vy64414d9osob3` FOREIGN KEY (`admin_user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tier_list_admin_ratings`
--

LOCK TABLES `tier_list_admin_ratings` WRITE;
/*!40000 ALTER TABLE `tier_list_admin_ratings` DISABLE KEYS */;
INSERT INTO `tier_list_admin_ratings` VALUES (2,'2026-05-07 00:49:56.615657',NULL,3,'2026-05-07 00:49:56.615657',1,7),(3,'2026-05-07 01:54:00.489094',NULL,3,'2026-05-07 01:54:00.489094',1,4),(4,'2026-05-09 14:31:08.345260',NULL,3,'2026-05-09 14:31:08.345260',1,16);
/*!40000 ALTER TABLE `tier_list_admin_ratings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tier_list_comments`
--

DROP TABLE IF EXISTS `tier_list_comments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tier_list_comments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `content` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `tier_list_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_tier_list_comments_tier_list` (`tier_list_id`),
  KEY `idx_tier_list_comments_user` (`user_id`),
  CONSTRAINT `FKcdbq0pot0ycwr1lv1db2loeii` FOREIGN KEY (`tier_list_id`) REFERENCES `tier_lists` (`id`),
  CONSTRAINT `FKpyqjy0j3b8i1vpxy3qxe3qv2i` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tier_list_comments`
--

LOCK TABLES `tier_list_comments` WRITE;
/*!40000 ALTER TABLE `tier_list_comments` DISABLE KEYS */;
INSERT INTO `tier_list_comments` VALUES (3,'Ổn nha','2026-04-30 16:36:59.639835','2026-04-30 16:36:59.639835',3,1),(4,'wisp a thôi og','2026-05-07 11:12:06.997226','2026-05-07 11:12:06.997226',4,197);
/*!40000 ALTER TABLE `tier_list_comments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tier_list_ratings`
--

DROP TABLE IF EXISTS `tier_list_ratings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tier_list_ratings` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `stars` int NOT NULL,
  `user_id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tier_list_id` bigint NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKmjnouf1rlxuwcla0e1r2xkt9e` (`tier_list_id`,`user_id`),
  CONSTRAINT `FK7fl1nusvhnattd71k276n1yiu` FOREIGN KEY (`tier_list_id`) REFERENCES `tier_lists` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tier_list_ratings`
--

LOCK TABLES `tier_list_ratings` WRITE;
/*!40000 ALTER TABLE `tier_list_ratings` DISABLE KEYS */;
/*!40000 ALTER TABLE `tier_list_ratings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tier_lists`
--

DROP TABLE IF EXISTS `tier_lists`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tier_lists` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `content_data` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime(6) DEFAULT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `author_id` bigint DEFAULT NULL,
  `admin_rating` int DEFAULT NULL,
  `is_official` bit(1) NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `FKl0ahs0i0wbvn1o8dkelwuphq1` (`author_id`),
  CONSTRAINT `FKl0ahs0i0wbvn1o8dkelwuphq1` FOREIGN KEY (`author_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tier_lists`
--

LOCK TABLES `tier_lists` WRITE;
/*!40000 ALTER TABLE `tier_lists` DISABLE KEYS */;
/*!40000 ALTER TABLE `tier_lists` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_saved_tier_lists`
--

DROP TABLE IF EXISTS `user_saved_tier_lists`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_saved_tier_lists` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `saved_at` datetime(6) NOT NULL,
  `tier_list_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_saved_tier_lists_user_tier` (`user_id`,`tier_list_id`),
  KEY `idx_user_saved_tier_lists_user` (`user_id`),
  KEY `idx_user_saved_tier_lists_tier_list` (`tier_list_id`),
  CONSTRAINT `FK86igkw107ctpo22i1mtt66qf3` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKg0psqar2ym3s64h8t2bg0q8v4` FOREIGN KEY (`tier_list_id`) REFERENCES `tier_lists` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_saved_tier_lists`
--

LOCK TABLES `user_saved_tier_lists` WRITE;
/*!40000 ALTER TABLE `user_saved_tier_lists` DISABLE KEYS */;
INSERT INTO `user_saved_tier_lists` VALUES (1,'2026-05-07 10:55:56.819667',8,1),(2,'2026-05-07 11:47:37.724642',13,207),(3,'2026-05-07 11:56:59.507832',14,94),(5,'2026-05-09 14:08:28.306434',15,110),(6,'2026-05-09 14:16:58.637176',16,110),(7,'2026-05-09 14:32:05.232239',3,1);
/*!40000 ALTER TABLE `user_saved_tier_lists` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `avatar_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `note` text COLLATE utf8mb4_unicode_ci,
  `status` enum('ACTIVE','LOCKED') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `display_name` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `level` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK6dotkott2kjsp8vw4d0m25fb7` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=282 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-13 22:28:12
